<header>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#37474F;">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"></a>
                </li>
            </ul>
        </div>    
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">PROPERTIES MANAGEMENT APP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto" *ngIf="IsUserAuthenticated">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/property">Property</a>
                </li>
                <li class="nav-item" *ngIf="IsAdminUser">
                    <a class="nav-link" routerLink="/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="Logout()" style="cursor:pointer;">Logout</a>
                </li>
            </ul>
        </div>
      </nav>
</header>
