<div class="container ">
    <div class="row justify-content-center">
      <div class="col-md-4 col-md-offset-4 text-center">
        <div class="login-box" *ngIf="loginDiv">
			<h3 class="mb-3">LOGIN</h3>
			<form [formGroup]="loginForm">
				<div class="form-group">
					<input id="email" type="email" class="form-control" name="username" placeholder="Username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"> 
					<div *ngIf="submitted && f.username.errors">
						<span class="text-danger" *ngIf="f.username.errors.required">Username is required</span>
					  </div>
				</div>
				<div class="form-group">
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors">
						<span class="text-danger" *ngIf="f.password.errors.required">password is required</span>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<button type="submit" class="btn submit-btn btn-primary" (click)="onSubmit()">Login</button>
					</div>
				</div>
			</form>
			<div class="mt-3 text-center" >
				<a class="mt-3" (click)="forgotButton()">Forgot password?</a>
            </div>
            <div class="mt-3 text-center" >
				New to our portal? <a routerLink="/register" class="mt-3">Signup Here</a>
			</div>
		</div>
		<div class="login-box" *ngIf="forgetpasswordDiv">
			<h3 class="mb-3">Forgot Password</h3>
			<form>
				<div class="form-group has-feedback">
					<input id="email" type="email" class="form-control" name="email" placeholder="Username" value="">
					<p><span class="text-danger"> </span></p>
				</div>
				<div class="row">
					<div class="col-12">
						<button type="submit" class="btn submit-btn btn-primary">Submit</button>
					</div>
				</div>
			</form>	
		</div>
      </div>
    </div>
  </div>