<div class="container">
    <div class="row  mt-5">
        <div class="col text-right p-1" *ngIf="AllowActions">
            <button type="submit" class="btn submit-btn btn-primary" routerLink="/newuser">Add User</button>
        </div>
    </div>
    <div class="row mt-5 mb-5 tabledata">
        <ag-grid-angular
        style="width: 1500px; height: 400px;"
        class="ag-theme-alpine-dark"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [gridOptions]="gridOptions"
        [frameworkComponents]="frameworkComponents">
        >
        </ag-grid-angular>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="delete-record">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Properties App</h5>
          <button type="button" (click)="onCancelbutton()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this record?.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="onSubmitbutton()">Yes</button>
          <button type="button" class="btn btn-secondary" (click)="onCancelbutton()" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>