<!-- <a routerLink="/property">Edit</a> -->
<!-- &nbsp;|&nbsp;<a routerLink="[DeleteURL]">Delete</a> -->

<button *ngIf="HasEditAction" type="submit" class="btn submit-btn btn-primary" (click)="onEditClick($event)">{{labelEdit}}</button>&nbsp;<button type="submit" class="btn submit-btn btn-danger" (click)="onDeleteClick($event)">{{labelDelete}}</button>