.tabledata{
    background-color:white !important;
    color: black !important;
}

.btn-anchor {
    outline: none !important;
    padding: 0!important;
    border: 0;
    vertical-align: baseline;
}

agm-map {
    height: 700px;
    align-content: center;
}

.modal-title{
    color:black;
}

.modal-body{
    color:black;
}