<div class="container">
    <div class="row  mt-5">
        <div class="col text-right p-1" >
            <button type="submit" class="btn submit-btn btn-primary" *ngIf="ShowTable" (click)="onShowAllOnMapClicked()">Show Map</button>&nbsp;&nbsp;
            <button type="submit" class="btn submit-btn btn-primary" *ngIf="ShowMap"  (click)="onShowAllOnMapClicked()">Show Property</button>&nbsp;&nbsp;
            <button  *ngIf="AllowActions" type="submit" class="btn submit-btn btn-primary" routerLink="/newproperty">Add Property</button>
        </div>
    </div>
    <div class="row mt-5 mb-5 tabledata" *ngIf="ShowTable">
        <ag-grid-angular
        style="width: 1500px; height: 400px;"
        class="ag-theme-alpine-dark"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [gridOptions]="gridOptions"
        [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="delete-property">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Properties App</h5>
          <button type="button" (click)="onCancelbutton()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this record?.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="onSubmitbutton()">Yes</button>
          <button type="button" class="btn btn-secondary" (click)="onCancelbutton()" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="ShowMap" id="mapAllProperties" style="width: 1500px;">
    <div class="col" id="sidebar" >
      <agm-map [latitude]="geocoordinates.latitude" [longitude]="geocoordinates.longitude" [scrollwheel]="false" [zoom]="zoom"  [fullscreenControl]='true' [mapTypeControl]='true' [fitBounds]= true id = "googleMap">
        <agm-marker  *ngFor="let geocoordinates of listGeoCoOrdinates"  style="border: 3px solid;" class="mapborder" [latitude]="geocoordinates.latitude" [longitude]="geocoordinates.longitude" [markerDraggable]="true" [agmFitBounds] = true></agm-marker>
      </agm-map>
    </div>
    
</div>