<div class="container">
          <div class="m-5 text-center">
            <h1 class="form-heading " *ngIf="id == 0">Add Property</h1>
            <h1 class="form-heading " *ngIf="id">Edit Property</h1>
          </div>
          <form [formGroup]="propertyForm">
            <div class="row form-group">
              
              <div class="col form-group" *ngIf="false">
                <input id="apartmentID" type="text" class="form-control" name="apartmentId" placeholder="apartmentId" formControlName="apartmentId" >    
            </div>
              <div class="col form-group">
                  <input id="name" type="text" class="form-control" name="name" placeholder="name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" >    
                  <div *ngIf="submitted && f.name.errors">
                    <span class="text-danger" *ngIf="f.name.errors.required">name is required</span>
                  </div>
              </div>
              <div class="col form-group">
                  <input id="size" type="text" class="form-control" name="size" placeholder="size" formControlName="size" [ngClass]="{ 'is-invalid': submitted && f.size.errors }">
                  <div *ngIf="submitted && f.size.errors">
                    <span class="text-danger" *ngIf="f.size.errors.required">Size is required</span>
                  </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col form-group">
                <input id="noOfRooms" type="text" class="form-control" name="noOfRooms" placeholder="noOfRooms" formControlName="noOfRooms" [ngClass]="{ 'is-invalid': submitted && f.noOfRooms.errors }">
                <div *ngIf="submitted && f.noOfRooms.errors">
                  <span class="text-danger" *ngIf="f.noOfRooms.errors.required">noOfRooms is required</span>
                </div>
              </div>
              <div class="col form-group">
                <input id="pricePerMonth" type="text" class="form-control" name="pricePerMonth" placeholder="pricePerMonth" formControlName="pricePerMonth" [ngClass]="{ 'is-invalid': submitted && f.pricePerMonth.errors }">    
                <div *ngIf="submitted && f.pricePerMonth.errors">
                  <span class="text-danger" *ngIf="f.pricePerMonth.errors.required">pricePerMonth is required</span>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col form-group">
                <textarea  id="description" row="20" class="form-control" name="description" placeholder="description" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" >  </textarea>  
                <div *ngIf="submitted && f.description.errors">
                  <span class="text-danger" *ngIf="f.description.errors.required">description is required</span>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col form-group">
                <input  id="geoCoOrdinates" class="form-control" name="geoCoOrdinates" placeholder="geoCoOrdinates" formControlName="geoCoOrdinates" [ngClass]="{ 'is-invalid': submitted && f.geoCoOrdinates.errors }" >
                <div *ngIf="submitted && f.geoCoOrdinates.errors">
                  <span class="text-danger" *ngIf="f.geoCoOrdinates.errors.required">geoCoOrdinates is required</span>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col-2">
                    <label>Occupied</label>
                  </div>
                  <div class="col-2 text-left">
                    <input id="state" type="checkbox" class="form-control" name="state" placeholder="state" formControlName="state">    
                  </div>
                  
                </div>
              </div>
            </div>

            <div class="row form-group">
                <div class="col-md-12" id="sidebar" >
                  <agm-map [latitude]="geocoordinates.latitude" [longitude]="geocoordinates.longitude" [scrollwheel]="false" [zoom]="zoom"  [fullscreenControl]='true' [mapTypeControl]='true' [fitBounds]= true #googleMap>
                    <agm-marker  style="border: 3px solid;" class="mapborder" [latitude]="geocoordinates.latitude" [longitude]="geocoordinates.longitude" [markerDraggable]="true"
                      (dragEnd)="markerDragEnd($event)" [agmFitBounds] = true></agm-marker>
                  </agm-map>
                </div>
            </div>
             
            <div class="row form-group mt-5 mb-5">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn submit-btn btn-primary" (click)="onSubmit()">Submit</button>
              </div>
            </div>
          </form>
</div>
