/* You can add global styles to this file, and also import other style files */


@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine-dark.css";

body{
    /* background-image: url("src\assets\images\header.jpg");  */
    background-color: black !important;
    color: white !important;
}

/* .ag-theme-alpine {
    @include ag-theme-alpine();
} */

