<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="registration-box my-2">					
					<h1 class="form-heading">Add User</h1>
          <form [formGroup]="addUserForm">
            <div class="row pt-5  justify-content-center">
              <div class="col-md-6 form-group ">
                <input id="full-name" type="text" class="form-control" name="firstName" placeholder="FirstName" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" >    
                <div *ngIf="submitted && f.firstName.errors">
                  <span class="text-danger" *ngIf="f.firstName.errors.required">First Name is required</span>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
            <div class="col-md-6 form-group ">
              <input id="full-name" type="text" class="form-control" name="lastName" placeholder="lastName" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" >    
              <div *ngIf="submitted && f.lastName.errors">
                <span class="text-danger" *ngIf="f.lastName.errors.required">Last Name is required</span>
              </div>
            </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6 form-group ">
                <input id="user-name" type="text" class="form-control" name="userName" placeholder="Username" formControlName="userName" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
                <div *ngIf="submitted && f.userName.errors">
                  <span class="text-danger" *ngIf="f.userName.errors.required">Username is required</span>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 form-group ">
                  <input id="user-email" type="email" class="form-control" name="emailId" placeholder="Email" formControlName="emailId" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }">    
                  <div *ngIf="submitted && f.emailId.errors">
                    <span class="text-danger" *ngIf="f.emailId.errors.required">Email is required</span>
                  </div>
                </div>
              </div>
            <div class="row justify-content-center">
              <div class="col-md-6 form-group ">
                <input id="user-password" type="password" class="form-control" name="password" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">    
                <div *ngIf="submitted && f.password.errors">
                  <span class="text-danger" *ngIf="f.password.errors.required">Password is required</span>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-6 form-group ">
                <select class="form-control" id="role" formControlName="role" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                  <option *ngFor="let userrole of keys" [ngValue]="listuserRoles[userrole]">{{userrole}}</option>
                </select>
                <div *ngIf="submitted && f.role.errors">
                  <span class="text-danger" *ngIf="f.role.errors.required">Role is required</span>
                </div>
              </div>
            </div> 

            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn submit-btn btn-primary" (click)="onSubmit()">Add</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

