<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="registration-box my-2">					
					<h1 class="form-heading">Registration</h1>
          <form [formGroup]="registerForm">
            <div class="row pt-5  justify-content-center">
              <div class="col-md-6 form-group ">
                <input id="firstName" type="text" class="form-control" name="firstName" placeholder="firstName" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" >    
                <div *ngIf="submitted && f.firstName.errors">
                  <span class="text-danger" *ngIf="f.firstName.errors.required">firstName is required</span>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
            <div class="col-md-6 form-group ">
              <input id="lastName" type="text" class="form-control" name="lastName" placeholder="lastName" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" >    
              <div *ngIf="submitted && f.lastName.errors">
                <span class="text-danger" *ngIf="f.lastName.errors.required">lastName is required</span>
              </div>
            </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6 form-group ">
                <input id="emailId" type="text" class="form-control" name="emailId" placeholder="Email" formControlName="emailId" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }">
                <div *ngIf="submitted && f.emailId.errors">
                  <span class="text-danger" *ngIf="f.emailId.errors.required">Email is required</span>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6 form-group ">
                <input id="password" type="password" class="form-control" name="password" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">    
                <div *ngIf="submitted && f.password.errors">
                  <span class="text-danger" *ngIf="f.password.errors.required">password is required</span>
                </div>
              </div>
            </div>

              <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn submit-btn btn-primary" (click)="onSubmit()">Register</button>
              </div>
            </div>
            <div class="mt-3 text-center" >
				      Already a member? <a href="" class="mt-3"  routerLink="/login">Signin Here</a>
		      	</div>
          </form>
        </div>
      </div>
    </div>
</div>
